package ui

templ UsageLegend() {
	<div class="usage-legend" aria-hidden="true">
		<span class="usage-legend-item cpu">
			<span></span>
			CPU
		</span>
		<span class="usage-legend-item memory">
			<span></span>
			MEM
		</span>
	</div>
}
